h1 {
  font-family: Lobster;
  font-weight: bold;
  color: red;
}

h2 {
  font-family: Monospace;
  font-weight: bold;
}

body {
  background-color: lightgray;
  padding: 3%
}

.div-row {
  margin-left: 10%;
}

.div-line {
  margin-right: 27%;
}

li {
  margin-right: 27%;
}

[class*="span"].centred {
  margin-left: 30px;
  margin-right: auto;
  float: none;
}